* {
  box-sizing: border-box;
  --desktop-width: 1440px;
  --mobile-width: 375px;
  --input-border: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --active-input-border: hsl(249, 99%, 64%);
  --error-red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --light-grayish-violet-darker: hsl(270, 3%, 50%);
  --dark-grayis-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --desktop-image-heigth: 170px;
  --desktop-image-width: 355px;
  --mobile-image-heigth: 150px;
  --mobile-image-width: 275px;
}

body {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  color: var(--very-dark-violet);

  @media (max-width: 480px){
    width: var(--mobile-width);
    overflow-y: scroll;
  } 
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 480px){
    display: flex;
    flex-direction: column;
  } 
}

.left-layout{
  display: grid;
  grid-template-columns: 3fr 1fr;

  @media (max-width: 480px){
    display: flex;
    flex-direction: column;
    background-image: url("./images/bg-main-mobile.png");
    background-repeat: no-repeat;
    width: var(--mobile-width);
  } 
  
}

.left-background {
  display: flex;
  background-image: url("./images/bg-main-desktop.png");
  background-size: cover;
  height: 100vh;

  @media (max-width: 480px){
    background-image: none;
    background-size: unset;
    height: 35vh;
  } 
}

.credit-card-positioning {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
}

.credit-card-front-position {
  margin-right: 75px;
  position: absolute;
  margin-bottom: 200px;

  @media (max-width: 480px) {
    top: 130px;
    left: 25px;
    margin-top: 0;
    z-index: 1;
  }
}

.credit-card-back-position {
  position: absolute;
  margin-top: 200px;

  @media (max-width: 480px) {
    top: 0;
    right: 25px;
    margin-top: 25px;
  }
}

.credit-card-img{
  height: var(--desktop-image-heigth);
  width: var(--desktop-image-width);

  @media (max-width: 480px){
    height: var(--mobile-image-heigth);
    width: var(--mobile-image-width);
  } 
}

.credit-card-logo{
  position: absolute;
  position: absolute;
  top: 15px;
  left: 25px;
  height: 35px;
}

.credit-card-number{
  position: absolute;
  left: 25px;
  bottom: 50px;
  font-size: 1.55rem;
  color: var(--white);
  @media (max-width: 480px){
    font-size: 1.25rem;
  } 
}

.credit-card-name{
  position: absolute;
  left: 25px;
  bottom: 20px;
  font-size: 0.75rem;
  color: var(--white);
  text-transform: uppercase;
}

.credit-card-date{
  position: absolute;
  right: 25px;
  bottom: 20px;
  font-size: 0.75rem;
  color: var(--white);
}

.credit-card-cvc{
  position: absolute;
  right: 45px;
  bottom: 85px;
  font-size: 0.75rem;
  color: var(--white);

  @media (max-width: 480px){
    position: absolute;
    right: 35px;
    bottom: 75px;
  } 
}

.right-layout{
  display: grid;
  flex-direction: column;
  align-items: center;
  grid-template-columns: 1fr minmax(400px, 1fr) 1fr;

  @media (max-width: 480px){
    display: flex;
    margin: 4rem 1.5rem 1rem 1.5rem;
  } 
}

.right-layout-placement{
  grid-area: 1/2;
}

.form-layout{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (max-width: 480px) {
    width: 100%
  }
}

.label-input-layout{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-style{
  line-height: 48px;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 18px;
  color: var(--very-dark-violet);

  @media (max-width: 480px) {
    max-width: 325px;
  }
}

input:focus , input:focus-visible{
  border: 1px solid var(--active-input-border);
}

.invalid-field{
  border: solid 2px var(--error-red);
}

.error{
  font-size: 12px;
  color: var(--error-red);
}

.form-expiration-date-section{
  display: grid;
  grid-template-columns: 100px 100px 200px;

  @media (max-width: 480px) {
    display: grid;
    grid-template-columns: 75px 75px 165px;
    font-size: 14px;
    gap: 0.5rem;
  }
}

.date-column{
  display: grid;
  grid-template-columns: calc(100px - 0.2rem) calc(100px - 0.2rem);
  gap: 0.4rem;

  @media (max-width: 480px) {
    grid-template-columns: calc(78px - 0.2rem) calc(78px - 0.2rem);
  }
}

.column-span{
  grid-column: span 2;
}

.cvcPlacement{
  grid-area: 1/3;
}

.input-width-dates{
  width: calc(100px - 0.2rem);

  @media (max-width: 480px) {
    width: calc(65px - 0.2rem);
  }
}

.input-width-cvc{
  width: calc(200px - 0.2rem);

  @media (max-width: 480px) {
    width: calc(155px - 0.2rem);
  }
}

.action-button{
  margin-top: 1.5rem;
  background-color: var(--very-dark-violet);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--very-dark-violet);
  cursor: pointer;
  width: 100%;

  @media (max-width: 480px) {
    margin-top: 0.5rem;
    padding: 1rem 0.5rem
  }
}

.complete-state-layout{
  @media (max-width: 480px) {
    width: 100%;
  }
}

.card-detail-thank-you{
  color: var(--light-grayish-violet-darker);
  margin-top: 0;
  font-size: 14px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  grid-area: 1 / 2;
  align-self: end;
  margin-bottom: 1.5rem;

  @media (max-width: 480px){
    margin-top: 0.5rem;
    align-self: unset;
  } 
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.display-error{
  display: block;
}

.display-completed-state{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide-error{
  display: none;
}

.hide-form{
  display: none;
}

.hide-in-mobile{
  @media (max-width: 480px){
    display: none;
  } 
}

.hide-in-desktop{
  @media (min-width: 481px){
      display: none;
    } 
}

.hide-completed-state{
  display: none
}